<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h1>Associated With It</h1>

    <h3>Questions: <%= Game.where(kind: 'Question').count %></h3>
    <%= link_to 'Another One', '#', class: 'btn btn-success create_question' %>
    <h3>Associated With It: <%= Game.where(kind: 'AssociatedWithIt').count %></h3>
    <%= link_to 'Another One', '#', class: 'btn btn-success create_associated_with_it' %>
  </div>
</div>


